/* Pages Restaurants */

@mixin header-pages-restaurants{
    position: relative;
    content: "";
    .btn-index{
        width: 50px;
        position: absolute;
        left: 0; top: 0;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        a{
            color: #000;
            font-size: 20px;
        }
    }
}

@mixin balise-images-pages{
    width: 100%;
    height: 450px;
    padding: 0;
    margin: 0;
    img{
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}

@mixin balise-section-contener
{
    padding: 0;
    background-color: #f4f4f4;
    height: auto;
    margin: auto;
    justify-content: center;
    .section-contener{
        max-width: 1024px;
        border-radius: 40px 40px 0 0;
        position: relative;
        margin: auto;
        top: -50px;
        background-color: #f4f4f4;
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        @media screen and (min-width:1024px)
        {
            box-shadow: 0 -10px 10px rgb(0 0 0 / 25%);
        }
        .balise-gros-titre
        {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h1{
                width: 90%;
                margin: 0;
                font-weight: 100;
                font-family: "Shrikhand";
                text-align: left;
                font-size: 28px;
            }
            .coeur{
                transition:0.5s;
            } 
            .coeur i{
                @include coeur;
                margin-right: 2rem;
                transition:transform 0.5s ease-out 1s;
        
            }
            .coeur i:hover{
                font-weight: 600;
            }
            .coeur:hover{
                @include coeur_hover;
            }
    
        }

    }
}

/* Listes */
@mixin balise-contener-menu{
    width: 100%;
    height: auto;
    padding: 30px 0 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .balise-menu-titre{
        border-bottom: 3px solid;
        border-bottom-color: $tertiare;
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        align-items: center;
        h2{
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 400;
            margin: 0;
            padding: 0;
        }
    }
    .balise-plats
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        .liste-plats-groupe
        {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: auto;
            list-style: none;
            padding: 20px 0 10px 0;
            margin: 0;
            .plats{
                cursor: pointer;
                width: 100%;
                height: 70px;
                margin: 10px 0 10px 0;
                .bnt-plats
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    transform: scale(0);
                    animation: pop 0.6s;
                    animation-fill-mode: both;
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    background-color: white;
                    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
                    text-decoration: none;
                    border-radius: 15px;
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    &:hover .check{
                        margin-right:0;
                    }
                    &:hover .check i{
                        transform: rotate(-360deg);
                        transition-duration: .5s;
                    }
                    .plat-ingrediant
                    {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        height: 100%;
                        padding: 5px 0 5px 15px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        h3{
                            font-size: 18px;
                            color: black;
                            font-weight: 600;
                            margin: 0;
                            padding: 0 0 3px 0;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        p{
                            font-size: 16px;
                            color: black;
                            font-weight: 400;
                            margin: 0;
                            padding: 3px 0 0 0;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                    .prix
                    {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: flex-end;
                        height: 100%;
                        padding: 0 20px 0 20px;
                        p{
                            font-size: 18px;
                            color: black;
                            font-weight: 600;
                            margin: 0;
                            padding-bottom: 10px;
                        }
                    }
                    .check
                    {
                        height: 100%;
                        width: 5rem;
                        background-color: #99e2d0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #FFF;
                        font-size: 20px;
                        margin-right: -5rem;
                        transition-duration: 0.5s;
                    }
                }

            }
        }
    }
}


/* ANIMATIONS */
@keyframes pop{
    0%{
        transform: scale(0)
    }
    100%{
        transform: scale(1);
    }
}


@for $i from 0 through 9{
    a.animation-D#{$i} {
        animation-delay:$i*0.1s !important;
    }
}

