@mixin html
{
    width: 100%;
    max-width: 100%;
    display: block;
}

@mixin body 
{
    background-color: white;
    margin: 0;
    display: block;
    font-family: "roboto";
    width: 100%;
}

@mixin  head
{
    display: none;
}

@mixin  header
{
    width: 100%;
    height: 95px;
    background-color: white;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;

}

@mixin main
{
    display: block;
}

@mixin footer
{
    font-family: "roboto";
    background-color: #353535;
    padding: 25px;
    .balise-footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        h2{
            font-family: 'Shrikhand', cursive;
            font-weight: 100;
            font-size: 18px;
            color: white;
            margin: 0;
            padding-top: 10px;
            padding-bottom: 20px;
        }
        ul{
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            list-style: none;
            @media screen and (min-width:768px) {
                flex-direction: row;
            }
            li{
                padding: 3px 0 3px 0;
                a{
                    text-decoration: none;
                    font-family: "roboto";
                    color: white;
                    &:hover
                    {
                        text-decoration: underline;
                    }
                    i{
                        font-size: 16px;
                        padding-right: 5px;
                    }
                }
                @media screen and (min-width:768px) {
                    padding-right: 20px;
                }
            }
        }
    }
}

/* BOUTON */

@mixin bouton-principal
    {
        font-family: roboto;
        text-decoration: none;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: white;
        text-align: center;
        margin: 0;
        background: linear-gradient(171deg, $secondaire 0, $primaire);
        height: 50px;
        width: 200px;
        border-radius: 25px;
        border-style: none;
        box-shadow: 0 0 1rem rgb(0 0 0 / 25%);
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        &:hover{
            box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
            background: linear-gradient(171deg, $secondaire, $primaire);
        }
    }

/* LIKE */


@mixin coeur{
    color: #000;
    font-size: 25px;
    margin-right:2px;
    cursor:pointer;
}

@mixin coeur_hover{
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

/*@mixin coeur
                    {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        i{
                            color: black;
                            margin-right: 2px;
                            transition-duration: 0.5s;
                            cursor: pointer;
                            &:hover{
                                font-weight: 600;
                                background: linear-gradient(#9356DC, #FF79DA);
                                background-clip: border-box;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                cursor: pointer;
                            }
                        
                        }
                    }
fin code*/